
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<title>swimco.de</title>
	<meta name="author" content="Team Swim" />
	<meta name="description" content="The awesome swim language online editor" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />

	<%= stylesheet_link_tag    "application", :media => "all" %>
	<%= javascript_include_tag "application" %>
	<%= csrf_meta_tags %>
</head>
<body>
	<%= render 'layouts/header' %>
	<%= yield %>
	<%= javascript_include_tag "functions" %>

</body>
</html>
