<%= javascript_include_tag "ace/ace" %>
<div id="content">
	<%= render 'home/drawer' %>
	<div class="row" >
		<%= render 'home/editor' %>
	</div>
</div>
<%= javascript_include_tag "drawer" %>
<%= javascript_include_tag "editor" %>

